@import './base.css';

@font-face {
  font-family: geo-medium;
  src: url(geomanist-medium-webfont.ttf);
}

@font-face {
  font-family: geo-light;
  src: url(geomanist-light-webfont.ttf);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background-color: black;
  outline: 1px solid rgba(0, 0, 0, 0.241);
 
}

@media (max-width: 480px) {
  .swiper{
    width: 80vw;
    height: 65vh;

  }
  
 
}

.swiper-pagination-bullet{
  background-color: white;
  height: 12px;
  width: 12px;
  transition: all 200ms;

 
} 
.swiper-pagination-bullet-active{
   background-color: white;
   box-shadow: 0 0 .1em .1em white;
}








